server:
  port: 8089

spring:
  application:
    name: facility-service
  
  datasource:
    url: jdbc:postgresql://postgres:5432/smartwatts_facility360
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver
  
  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
  
  flyway:
    enabled: false
    baseline-on-migrate: true
    locations: classpath:db/migration
  
  cloud:
    netflix:
      eureka:
        client:
          service-url:
            defaultZone: http://service-discovery:8761/eureka/
          register-with-eureka: true
          fetch-registry: true
        instance:
          prefer-ip-address: true
          instance-id: ${spring.application.name}:${server.port}

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics,prometheus
  endpoint:
    health:
      show-details: always

logging:
  level:
    com.smartwatts.facilityservice: INFO
    org.springframework.web: INFO
