spring:
  cloud:
    netflix:
      eureka:
        client:
          service-url:
            defaultZone: http://service-discovery:8761/eureka/
          register-with-eureka: true
          fetch-registry: true
        instance:
          prefer-ip-address: true
          instance-id: ${spring.application.name}:${server.port}
  
  # Redis Configuration for Docker
  redis:
    host: redis
    port: 6379
    password: ""
    timeout: 2000ms
    connect-timeout: 2000ms
    lettuce:
      pool:
        max-active: 8
        max-idle: 8
        min-idle: 0
        max-wait: -1ms
      shutdown-timeout: 200ms
