server:
  port: 8080

spring:
  application:
    name: api-gateway
  data:
    redis:
      host: ${REDIS_HOST:localhost}
      port: ${REDIS_PORT:6379}
      password: ${REDIS_PASSWORD:}
      timeout: 2000ms
  cloud:
    gateway:
      routes:
        - id: user-service
          uri: lb://user-service
          predicates:
            - Path=/api/v1/users/**
          filters:
            - name: RateLimiting
              args:
                limit: 100
                window: 60
        - id: inventory-service
          uri: lb://user-service
          predicates:
            - Path=/api/v1/inventory/**
          filters:
            - name: RateLimiting
              args:
                limit: 100
                window: 60